<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>x.Connector</listener-class>
    </listener>
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>YOUR_EMAIL_ID</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>YOUR_PASSWORD</param-value>
    </context-param>
    <context-param>
        <param-name>URL</param-name>
        <param-value>jdbc:mysql://localhost:3306/charusatevents</param-value>
    </context-param>
    <context-param>
        <param-name>PASS</param-name>
        <param-value>asdfgh</param-value>
    </context-param>
    <context-param>
        <param-name>USER</param-name>
        <param-value>root</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>EmailForm.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>signInServlet</servlet-name>
        <servlet-class>signInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUpServlet</servlet-name>
        <servlet-class>signUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verify</servlet-name>
        <servlet-class>verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getData</servlet-name>
        <servlet-class>getData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDetail</servlet-name>
        <servlet-class>getDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registar</servlet-name>
        <servlet-class>registar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generateOTP</servlet-name>
        <servlet-class>generateOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createEvent</servlet-name>
        <servlet-class>createEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getBasic</servlet-name>
        <servlet-class>getBasic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>changePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myEvents</servlet-name>
        <servlet-class>myEvents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myEventsRegistry</servlet-name>
        <servlet-class>myEventsRegistry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signout</servlet-name>
        <servlet-class>signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfile</servlet-name>
        <servlet-class>editProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEventInfo</servlet-name>
        <servlet-class>getEventInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editEvent</servlet-name>
        <servlet-class>editEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRegistration</servlet-name>
        <servlet-class>getRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendEventUpdate</servlet-name>
        <servlet-class>sendEventUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>closeEvent</servlet-name>
        <servlet-class>closeEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEvent</servlet-name>
        <servlet-class>deleteEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signUpServlet</servlet-name>
        <url-pattern>/signUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signInServlet</servlet-name>
        <url-pattern>/signInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verify</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getData</servlet-name>
        <url-pattern>/getData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDetail</servlet-name>
        <url-pattern>/getDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registar</servlet-name>
        <url-pattern>/registar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generateOTP</servlet-name>
        <url-pattern>/generateOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createEvent</servlet-name>
        <url-pattern>/createEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getBasic</servlet-name>
        <url-pattern>/getBasic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myEvents</servlet-name>
        <url-pattern>/myEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myEventsRegistry</servlet-name>
        <url-pattern>/myEventsRegistry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signout</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfile</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEventInfo</servlet-name>
        <url-pattern>/getEventInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editEvent</servlet-name>
        <url-pattern>/editEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRegistration</servlet-name>
        <url-pattern>/getRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendEventUpdate</servlet-name>
        <url-pattern>/sendEventUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>closeEvent</servlet-name>
        <url-pattern>/closeEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEvent</servlet-name>
        <url-pattern>/deleteEvent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
